%h1 割り勘アプリ
%h2= "ユーザー名：" + current_user.name
%h2 グループ一覧
%table
  %thead
    %tr
      %th  グループ名
      %th{:colspan => "3"}
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td.destroy-group{ data: { groupid: group.id }} Destroy

#modal-main
  .destroy
    %i.fa.fa-times{"aria-hidden" => "true"}
  %P 請求データなどが全て削除されます。
  %P 本当に削除しますか？
  = link_to "はい", "groups/", method: :delete, style: "color: black;"
  %span#not-delete-group{ style: "color: black;" } いいえ
#modal-bg


%br/
= link_to "作成", new_group_path
= link_to 'グループを探す', groups_search_path
= link_to "ログアウト",  destroy_user_session_path, method: :delete
