.show-page
  %p.show-header
    %strong グループ名
    = @group.name
    %span.edit-group= link_to "Edit", edit_group_path(@group)

  .group__middle-content
    .group__left-content
      %h3 メンバー一覧
      %table
        %tr
          %th 名前
          %th 貸し借り純額
        - @users.each_with_index do |each_user, index|
          %tr
            %td= each_user.name
            - if index >= 1
              %td.net_amount{ style: "text-align: right;"}= calc_your_payment(@new_charges, @group, each_user)
              %td.pay_off=link_to "精算完了", "/groups/#{@group.id}/charges/#{current_user.id}/#{each_user.id}", method: :patch
        %br
      = link_to 'グループ一覧', groups_path

    .group__center-content
      %h3 メンバーに請求する
      .charged-user-candidates
        - @group.users.each do |each_user|
          - if each_user != current_user
            %div.charged-user-candidate{ data: { userid: each_user.id }}
              %div.charged-user-candidate__name= each_user.name
              %div.charge-button 請求
        %h5.charge-all-user__btn 全員に請求


      = form_for [@group, @charge] do |f|
        .charged-user-list
          %h3 請求先
        %br
        -# = f.hidden_field :user_id, name: "charged_user[user_id][]", multiple: true
        = f.text_field :title, placeholder: "タイトル", required: true
        = f.hidden_field :status, value: 0, name: "charged_user[status]"
        %br
        %br
        %span あなたが支払った金額
        %br
        %span (自分が負担する金額も含めて下さい)
        %br
        = f.number_field :amount, min: "2", required: true
        円

        %br
        = f.submit "確定する"

    .group__right-content
      %h3 請求一覧
      - @charges.reverse.each do |charge|
        .charge-info
          内容:
          = link_to charge.title, group_charge_path(@group, charge)
          %br
          金額:
          = charge.amount
          円
          %br
          請求者:
          = charge.user.name
          %br
          請求日時:
          = simple_time(charge.created_at)
